[Unit]
Description=Antd Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/www
ExecStart=/opt/www/antd
Restart=on-abort

[Install]
WantedBy=multi-user.target
